body{
    background-color: black;
    color: yellow;
}


table{   
    margin-left: auto;
    margin-right: auto;
}

.border{
    border-style: groove;
    border-color: #101010 ;
    border-width: 3px;
}

td{
    color: #00FF00;
    text-align: center;
}
tr{
    text-align: center;
    
}

h3{
    color: #AADDFF ;
    font-size:30px;
}

h2{
    color: Red ;
    font-size:30px;
}

h1{
    color: #00FF00;
    font-size:40px;
    font-family:"Courier New", Courier, monospace;
}

input[type=text] {
    padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=password] {
    padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 50px;
    border-color: #000000 ;
}

hr
{
    border-width:5px;	
    border-style:solid;
}


input[type="submit"]:hover{
    color:red;
}

pre{
    background-color: red;
   
}




